.placeholder-hero {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100vh;
	width: 100vw;
	background-image: url("/img/placeholder/ocean.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left bottom;
	h1 {
		padding: 20px;
		text-align: center;
		font-size: 2.5em;
		color: $black;
		&.error-code {
			font-size: 4em;
			display: block;
		}
		img {
			padding-left: 10px;
			height: 35px;
			width: auto;
		}
	}
	h2 {
		font-size: 2em;
		color: $dark-grey;
		display: block;
		text-align: center;
	}
	a {
		font-size: 2em;
		line-height: 1.5;
		color: $indigo;
		display: block;
		text-align: center;
		&:hover {
			color: $white;
		}
	}
}

@media(min-width: 768px){
	.placeholder-hero {
		h1 {
			font-size: 4.5em;
			padding: 0 50px;
			&.error-code {
				font-size: 7em;
			}
			img {
				height: 60px;
				width: auto;
			}
		}
		h2 {
			font-size: 4.5em;
			color: $dark-grey;
		}
		a {
			font-size: 2.5em;
		}
	}
}