.placeholder-hero {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100vh;
	width: 100vw;
	background-image: url("/img/placeholder/ocean.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left bottom;
	h1 {
		padding: 20px;
		text-align: center;
		font-size: 2.5em;
		color: $black;
		img {
			padding-left: 10px;
			height: 35px;
			width: auto;
		}
	}
}

@media(min-width: 768px){
	.placeholder-hero {
		h1 {
			font-size: 4.5em;
			padding: 0 50px;
			img {
				height: 60px;
				width: auto;
			}
		}
	}
}