.nav-wrapper {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: $white;
	nav {
		display: block;
		width: 100%;
		height: 50px;
		position: fixed;
		z-index: 90;
		box-sizing: border-box;
		.main-nav-wrapper {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			box-sizing: border-box;
			ul {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: flex-end;
				list-style: none;
				height: 100%;
				max-height: 50px;
				padding: 0;
				margin: 0;
				li {
					&.logo {
						flex: 1 1 10%;
						align-self: center;
						transition: all .25s ease;
						padding-left: 20px;
						height: 28px;
						a {
							text-decoration: none;
							outline: none;
							&:hover,
							&:focus {
								outline: none;
								text-decoration: none;
							}
							img {
								width: auto;
								height: auto;
							}
						}
					}
					&.link-list {
						display: none;
						flex: 1 1 85%;
						height: 100%;
						margin: 0 20px;
						align-self: center;
						max-width: 700px;
						.link-list-wrapper {
							height: 100%;
							ul {
								width: 100%;
								li {
									height: 100%;
									display: inline-block;
									a {
										text-align: left;
										font-size: 26px;
										line-height: 1;
										font-family: $BebasNeue-Bold;
										text-decoration: none;
										transition: all 0.25s ease-in-out;
										color: $black;
										display: block;
										padding-top: 15px;
										img {
											height: auto;
											width: 12px;
											vertical-align: middle;
											padding-left: 5px;
										}
										&.active {
											color: #91748b;
											text-decoration: underline;
										}
										&:hover,
										&:focus {
											color: #593F68;
											text-decoration: underline;
										}
									}
								}
							}
						}
					}
					&.btn-nav-open{
						display: block;
						transition: all .5s ease-in-out;
						transform: rotate(0deg);
						cursor: pointer;
						align-self: center;
						height: 30px;
						width: 30px;
						padding-right: 20px;
						svg {
							rect {
								transition: all .25s ease-in-out;
							}
						}
					}
				}
			}
		}
	}
}

.mobile-nav-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	visibility: hidden;
	.nav-block {
		height: 100vh;
		width: 100vw;
		position: fixed;
		padding-top: 20px;
		left: -100%;
		background: $white;
		z-index: 900;
		overflow-y: scroll;
		transition: all .75s ease;
		box-sizing: border-box;
		.mobile-main-links {
			padding: 20px 20px 0;
			box-sizing: border-box;
			.link-list-wrapper {
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					li {
						a {
							display: block;
							border-bottom: 1px solid #cacaca;
							padding: 15px 10px 10px;
							color: $black;
							font-family: $BebasNeue-Bold;
							font-size: 1.5em;
							line-height: 1.15;
							text-decoration: none;
							&.active {
								color: #91748b;
								text-decoration: underline;
							}
							&:hover {
								text-decoration: none;
							}
						}
						.subnav {
							margin: 0 20px;
							li {
								a {
									padding: 6px 10px 0;
									color: $black;
									font-size: 1.25em;
									img {
										padding-right: 10px;
										height: 10px;
										width: auto;
										vertical-align: middle;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.mobile--nav--open {
	overflow: hidden;
	.mobile-nav-wrapper {
		visibility: visible;
		.nav-block {
			transform: translateX(100%)
		}
	}
}

.subnav-wrapper {
	position: fixed;
	bottom: 100%;
	padding-top: 51px;
	background-color: $white;
	z-index: -1;
	transition: all 0.65s ease-in-out;
	overflow-x: hidden;
	ul {
		padding: 20px;
		margin: 0;
		list-style: none;
		li {
			padding: 5px;
			&:last-of-type {
				padding-bottom: 0;
			}
			&:first-of-type {
				padding-top: 0;
			}
		 a {
			 font-family: $BebasNeue-Bold;
			 font-size: 1.25em;
			 color: black;
			 text-decoration: none;
			 transition: all 0.25s ease-in-out;
			 display: block;
			 &.active {
				 color: #91748b;
				 text-decoration: underline;
			 }
			 &:hover,
			 &:focus {
				 color: #593F68;
				 text-decoration: underline;
			 }
		 }
		}
	}
	&.show {
		transform: translateY(100%);
		z-index: 80;
	}
}

@media (min-width: 800px) {
	.nav-wrapper {
		nav {
			.main-nav-wrapper {
				padding: 0 10px;
				max-width: 1024px;
				ul {
					li {
						&.link-list {
							display: block;
						}
						&.btn-nav-open {
							display: none;
						}
					}
				}
			}
		}
	}
	.mobile-nav-wrapper {
		display: none;
	}
}