
// Body
$body-bg: #fdfdfd;

// Typography
$BebasNeue-Bold: "BebasNeue-Bold", sans-serif;
$BebasNeue-Light: "BebasNeue-Light", sans-serif;
$NotoSerif-Regular: "NotoSerif-Regular", serif;
$NotoSerif-Bold: "NotoSerif-Bold", serif;
$Roboto-Light: "Roboto-Light", sans-serif;
$Roboto-Regular: "Roboto-Regular", sans-serif;
$MellowLine-Regular: "MellowLine-Regular", serif;

// Colors
$activePurple: #91748b;
$hoverPurple: #593F68;
$white: #ffffff;
$black: #000000;
$dark-grey: #4e5357;
$light-grey: #cacaca;
