.home {
	.hero {
		box-sizing: border-box;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		position: relative;
		padding: 25px 0 10px;
		.header-text {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			align-content: center;
			width: 100%;
			padding: 0 20px;
            box-sizing: border-box;
			.text-wrapper {
                flex: 0 0 20%;
                &.small {
                    flex: 0 0 85px;
                }
				h1 {
					font-family: $BebasNeue-Light;
					color: $dark-purple;
					font-weight: 400;
					letter-spacing: 1px;
					padding-left: 10px;
					line-height: 1;
					font-size: 2em;
					margin: 10px 0;
					text-align: left;
					span {
						display: block;
					}
					&.and {
						font-family: $Trirong-Light;
						color: $activePurple;
						font-size: 4.75em;
						padding-left: 0;
						margin: 0;
					}
					&.right {
						text-align: right;
						padding-right: 10px;
						padding-left: 0;
					}
				}
			}
		}
	}

    .intro-wrapper {
        position: relative;
        max-width: 1024px;
        height: 250px;
        margin: 0 auto;
        background-image: url("/img/photos/engagement/Me-24.jpg");
        background-size: contain;
        background-position: 65% 52%;
        opacity: 0.85;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        h3 {
            letter-spacing: 1px;
            text-align: center;
            font-size: 1.95em;
            color: $white;
            z-index: 300;
            width: 100%;
            opacity: 1;
            padding: 0 20px;
            padding-top: 50px;
            span {
                color: $light-purple;
            }
        }
        .img-wrapper {
            opacity: 0.75;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

	.details-wrapper {
		box-sizing: border-box;
		width: 100%;
		max-width: 768px;
		margin: 0 auto;
		padding: 20px 10px 0;
        .copy-wrapper {
            padding: 10px 0;
            h3 {
                padding: 20px 10px 10px;
                text-align: center;
                color: $dark-purple;
                font-size: 2.25em;
            }
            p {
                padding-bottom: 20px;
                font-size: 1em;
                span.bold {
                    font-family: $BebasNeue-Bold;
                    color: $activePurple;
                    display: block;
                    font-size: 1.5em;
                    letter-spacing: 1px;
                }
                a {
                    color: $light-purple;
                    font-family: $Roboto-Regular;
                    &:hover {
                        color: $hoverPurple;
                    }
                    &:focus {
                        color: $light-purple;
                    }
                }
            }
        }
        .date-wrapper {
            padding: 40px 0 0;
            h2 {
                color: $dark-grey;
                text-align: center;
                font-size: 1.65em;
                line-height: 1;
            }
            h3 {
                color: $light-purple;
                text-align: center;
                font-size: 1.25em;
                line-height: 1;
            }
            p{
                color: $dark-purple;
                text-align: center;
                font-size: 0.85em;
                line-height: 1;
            }
        }
        .spotify-wrapper {
            margin: 0 auto;
            width: auto;
            padding: 5px;
            border: 2px solid $med-purple;
            box-shadow: 1px 1px 30px 0 $light-grey;
            border-radius: 3px;
            h3 {
                line-height: 1;
                padding: 10px 10px 0;
                text-align: center;
                color: $light-purple;
            }
            p {
                font-size: 1em;
                color: $dark-grey;
                font-family: $Roboto-Light;
                text-align: left;
                padding: 10px;
            }
            .spotify-playlist {
                width: 100%;
                max-width: 680px;
                padding: 10px;
                box-sizing: border-box;
            }
        }
	}
}

@media(min-width: 360px){
	.home {
		.details-wrapper {
			h1 {
				font-size: 3em;
			}
		}
	}
}
@media(min-width: 450px){
    .home {
        .intro-wrapper {
            background-size: cover;
        }
    }
}
@media(min-width: 500px){
	.home {
		.hero {
			.header-text {
				.text-wrapper {
					h1 {
						margin: 20px 0 10px;
						font-size: 3em;
						&.and {
							font-size: 6.25em;
						}
					}
				}
			}
		}
		.details-wrapper {
			h1 {
				font-size: 3.5em;
			}
		}
	}
}

@media(min-width: 650px){
	.home {
		.hero {
			padding-top: 20px;
			.header-text {
				.text-wrapper {
					h1 {
                        margin: 20px 0 0;
						padding-left: 20px;
                        padding-bottom: 0;
						font-size: 3.5em;
						&.right {
							padding-right: 20px;
						}
					}
				}
			}
		}
		.details-wrapper {
			h1 {
				font-size: 4em;
			}
            .spotify-wrapper {
                padding: 10px;
            }
		}
	}
}

@media(min-width: 768px){
	.home {
		.details-wrapper {
			h1 {
				font-size: 4.5em;
			}
            .spotify-wrapper {
                padding: 20px;
            }
		}
        .intro-wrapper {
            h3 {
                padding-top: 0;
            }
        }
	}
}
