.registry {
	 .content {
		 padding: 30px 20px 20px;
		 .flex-wrapper {
			 display: flex;
			 flex-flow: row wrap;
			 justify-content: space-evenly;
			 align-content: center;
			 align-items: center;
			 .flex-link {
				 flex: 0 0 45%;
				 margin-bottom: 20px;
				 a {
					 display: flex;
					 flex-flow: row wrap;
					 justify-content: center;
					 align-items: center;
					 align-content: center;
					 height: 225px;
					 width: 100%;
					 background: white;
					 border: 1px solid $light-purple;
					 border-radius: 3px;
					 text-decoration: none;
					 padding: 10px;
					 box-sizing: border-box;
					 .img-wrapper {
						 flex: 0 0 100%;
						 text-align: center;
						 img {
							 height: auto;
							 width: auto;
							 max-height: 116px;
						 }
					 }
					 .button {
						 font-family: $Roboto-Light;
						 letter-spacing: -1px;
						 font-size: 1.25em;
						 line-height: 12px;
						 padding: 10px;
						 border-bottom: 1px solid rgba(89,63,104,0.42);
						 color: $dark-grey;
						 img {
							 vertical-align: middle;
							 padding-left: 10px;
						 }
					 }
					 &:hover {
						 border-width: 2px;
						 .button {
							 color: $hoverPurple;
							 img {
								 animation: shake-horizontal 1.5s linear infinite both;
							 }
						 }
					 }
				 }
			 }
		 }
	 }
 }

@media(max-width: 600px){
	.registry {
		.content {
			.flex-wrapper {
				justify-content: center;
				.flex-link {
					flex: 0 0 85%;
					margin-bottom: 20px;
				}
			}
		}
	}
}