.our-story {
	.copy-wrapper {
		max-width: 768px;
		margin: 0 auto 20px;
		p {
			padding-bottom: 20px;
		}
	}
	.img-flex-container {
        box-sizing: border-box;
		width: 100%;
		padding: 10px;
		.row {
			display: flex;
			box-sizing: border-box;
            padding: 0 4px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
            .column {
                flex: 0 0 24%;
                padding: 0 4px;
                max-width: 25%;
                img {
                    margin-top: 8px;
                    width: 100%;
                    vertical-align: middle;
                }
            }
		}
	}
}

@media screen and (max-width: 768px) {
    .our-story {
        .img-flex-container {
            .row {
                .column {
                    flex: 0 0 49%;
                    max-width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .our-story {
        .img-flex-container {
            .row {
                .column {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
