@font-face {
  font-family: 'BebasNeue-Bold';
  src: url(/fonts/BebasNeue-Bold.otf?524d720f3f670bd38785447ca9c4b395);
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'BebasNeue-Light';
  src: url(/fonts/BebasNeue-Light.otf?4c8d42e69711e4e230d9081694db00ce);
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'NotoSerif-Bold';
  src: url(/fonts/NotoSerif-Bold.ttf?f4ab9c54f2f7cebb40019a3de04729e9);
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'NotoSerif-Regular';
  src: url(/fonts/NotoSerif-Regular.ttf?dae3d34e6864e191432e3c4c939114c3);
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(/fonts/Roboto-Light.ttf?fc84e998bc29b297ea20321e4c90b6ed);
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(/fonts/Roboto-Regular.ttf?3e1af3ef546b9e6ecef9f3ba197bf7d2);
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

body {
  background-color: #fdfdfd;
  background: #fdfdfd;
  cursor: default;
  font-size: 18px;
  line-height: 1.4;
  position: relative;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-wrapper .hero {
  width: 100%;
}

.content-wrapper .content {
  padding: 20px;
  width: 100%;
  max-width: 1024px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

h1 {
  font-family: "BebasNeue-Bold", sans-serif;
  font-size: 4.5em;
  line-height: 1.15;
  letter-spacing: -2px;
}

h2 {
  font-family: "BebasNeue-Bold", sans-serif;
  font-size: 2.5em;
  line-height: 1.15;
}

h3 {
  font-family: "BebasNeue-Bold", sans-serif;
  font-size: 1.5em;
  line-height: 1.15;
}

p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 1em;
  line-height: 1.15;
}

@media (min-width: 600px) {
  .content-wrapper .content {
    padding: 0 20px;
  }
}

footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .footer-wrapper {
  padding: 0 10px 10px;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

footer .footer-wrapper hr {
  border: 1px solid #91748b;
}

footer .footer-wrapper p {
  font-family: "Roboto-Light", sans-serif;
  margin: 0;
  font-size: .75em;
}

footer .footer-wrapper p a {
  color: #593F68;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

footer .footer-wrapper p a:hover,
footer .footer-wrapper p a:focus {
  color: #000000;
  text-transform: uppercase;
  font-size: 1.15em;
}

.nav-wrapper {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #ffffff;
}

.nav-wrapper nav {
  display: block;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 90;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-wrapper nav .main-nav-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-wrapper nav .main-nav-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  height: 100%;
  max-height: 50px;
  padding: 0;
  margin: 0;
}

.nav-wrapper nav .main-nav-wrapper ul li.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  padding-left: 20px;
  height: 28px;
}

.nav-wrapper nav .main-nav-wrapper ul li.logo a {
  text-decoration: none;
  outline: none;
}

.nav-wrapper nav .main-nav-wrapper ul li.logo a:hover,
.nav-wrapper nav .main-nav-wrapper ul li.logo a:focus {
  outline: none;
  text-decoration: none;
}

.nav-wrapper nav .main-nav-wrapper ul li.logo a img {
  width: auto;
  height: auto;
}

.nav-wrapper nav .main-nav-wrapper ul li.link-list {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 85%;
          flex: 1 1 85%;
  height: 100%;
  margin: 0 20px;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 700px;
}

.nav-wrapper nav .main-nav-wrapper ul li.link-list .link-list-wrapper {
  height: 100%;
}

.nav-wrapper nav .main-nav-wrapper ul li.link-list .link-list-wrapper ul {
  width: 100%;
}

.nav-wrapper nav .main-nav-wrapper ul li.link-list .link-list-wrapper ul li {
  height: 100%;
  display: inline-block;
}

.nav-wrapper nav .main-nav-wrapper ul li.link-list .link-list-wrapper ul li a {
  text-align: left;
  font-size: 1.444em;
  line-height: 1;
  font-family: "BebasNeue-Bold", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #000000;
  display: block;
  padding-top: 15px;
}

.nav-wrapper nav .main-nav-wrapper ul li.link-list .link-list-wrapper ul li a img {
  height: auto;
  width: 12px;
  vertical-align: middle;
  padding-left: 5px;
}

.nav-wrapper nav .main-nav-wrapper ul li.link-list .link-list-wrapper ul li a.active {
  color: #91748b;
  text-decoration: underline;
}

.nav-wrapper nav .main-nav-wrapper ul li.link-list .link-list-wrapper ul li a:hover,
.nav-wrapper nav .main-nav-wrapper ul li.link-list .link-list-wrapper ul li a:focus {
  color: #593F68;
  text-decoration: underline;
}

.nav-wrapper nav .main-nav-wrapper ul li.btn-nav-open {
  display: block;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
  height: 30px;
  width: 30px;
  padding-right: 20px;
}

.nav-wrapper nav .main-nav-wrapper ul li.btn-nav-open svg rect {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.mobile-nav-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  visibility: hidden;
}

.mobile-nav-wrapper .nav-block {
  height: 100vh;
  width: 100vw;
  position: fixed;
  padding-top: 20px;
  left: -100%;
  background: #ffffff;
  z-index: 900;
  overflow-y: scroll;
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile-nav-wrapper .nav-block .mobile-main-links {
  padding: 20px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile-nav-wrapper .nav-block .mobile-main-links .link-list-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-wrapper .nav-block .mobile-main-links .link-list-wrapper ul li a {
  display: block;
  border-bottom: 1px solid #cacaca;
  padding: 15px 10px 10px;
  color: #000000;
  font-family: "BebasNeue-Bold", sans-serif;
  font-size: 1.5em;
  line-height: 1.15;
  text-decoration: none;
}

.mobile-nav-wrapper .nav-block .mobile-main-links .link-list-wrapper ul li a.active {
  color: #91748b;
  text-decoration: underline;
}

.mobile-nav-wrapper .nav-block .mobile-main-links .link-list-wrapper ul li a:hover {
  text-decoration: none;
}

.mobile-nav-wrapper .nav-block .mobile-main-links .link-list-wrapper ul li .subnav {
  margin: 0 20px;
}

.mobile-nav-wrapper .nav-block .mobile-main-links .link-list-wrapper ul li .subnav li a {
  padding: 6px 10px 0;
  color: #000000;
  font-size: 1.25em;
}

.mobile-nav-wrapper .nav-block .mobile-main-links .link-list-wrapper ul li .subnav li a img {
  padding-right: 10px;
  height: 10px;
  width: auto;
  vertical-align: middle;
}

.mobile--nav--open {
  overflow: hidden;
}

.mobile--nav--open .mobile-nav-wrapper {
  visibility: visible;
}

.mobile--nav--open .mobile-nav-wrapper .nav-block {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.subnav-wrapper {
  position: fixed;
  bottom: 100%;
  padding-top: 51px;
  min-width: 200px;
  background-color: #ffffff;
  z-index: -1;
  -webkit-transition: all 0.65s ease-in-out;
  transition: all 0.65s ease-in-out;
  overflow-x: hidden;
  opacity: 0;
}

.subnav-wrapper ul {
  padding: 20px;
  margin: 0;
  list-style: none;
}

.subnav-wrapper ul li {
  padding: 5px;
}

.subnav-wrapper ul li:last-of-type {
  padding-bottom: 0;
}

.subnav-wrapper ul li:first-of-type {
  padding-top: 0;
}

.subnav-wrapper ul li a {
  font-family: "BebasNeue-Bold", sans-serif;
  font-size: 1.25em;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: block;
}

.subnav-wrapper ul li a.active {
  color: #91748b;
  text-decoration: underline;
}

.subnav-wrapper ul li a:hover,
.subnav-wrapper ul li a:focus {
  color: #593F68;
  text-decoration: underline;
}

.subnav-wrapper.show {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 80;
  opacity: 1;
}

@media (min-width: 800px) {
  .nav-wrapper nav .main-nav-wrapper {
    padding: 0;
    max-width: 1024px;
  }

  .nav-wrapper nav .main-nav-wrapper ul li.link-list {
    display: block;
  }

  .nav-wrapper nav .main-nav-wrapper ul li.btn-nav-open {
    display: none;
  }

  .mobile-nav-wrapper {
    display: none;
  }
}

.accomodations .hero {
  padding: 25px 0;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebe6ea), to(#9c8297));
  background: linear-gradient(#ebe6ea, #9c8297);
}

.accomodations .content .hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.accomodations .content .hotel-wrapper .text-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.accomodations .content .hotel-wrapper .text-wrapper h3 {
  text-align: left;
  margin: 0;
  padding-bottom: 5px;
}

.accomodations .content .hotel-wrapper .text-wrapper p.address {
  margin: 0;
}

.accomodations .content .hotel-wrapper .text-wrapper p.phone {
  padding-top: 2px;
  margin: 0;
}

.accomodations .content .hotel-wrapper .text-wrapper p.phone img {
  vertical-align: text-top;
}

.accomodations .content .hotel-wrapper .text-wrapper p.phone a {
  text-decoration: none;
  color: #000000;
}

.accomodations .content .hotel-wrapper .text-wrapper p.phone a:hover {
  text-decoration: none;
  color: #000000;
}

.accomodations .content .hotel-wrapper .text-wrapper p.website {
  padding-top: 10px;
  margin: 0;
}

.accomodations .content .hotel-wrapper .text-wrapper p.website a {
  color: #91748b;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.accomodations .content .hotel-wrapper .text-wrapper p.website a:hover {
  color: #593F68;
}

.accomodations .content .hotel-wrapper #theasburyhotel {
  padding-bottom: 20px;
}

.accomodations .content .hotel-wrapper #airbnb {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.accomodations .content .hotel-wrapper #airbnb p.details {
  margin: 0;
}

.accomodations .content .hotel-wrapper .map-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.accomodations .content .hotel-wrapper .map-wrapper #map {
  height: 400px;
  width: 100%;
  max-width: 600px;
  border: 1px solid #cacaca;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .accomodations .hero {
    padding: 50px 0;
  }

  .accomodations .content .hotel-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }

  .accomodations .content .hotel-wrapper .text-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-right: 20px;
  }

  .accomodations .content .hotel-wrapper .text-wrapper p.details {
    font-size: .9em;
    line-height: 1.3;
    padding: 20px 0;
    margin: 0;
  }

  .accomodations .content .hotel-wrapper #theasburyhotel {
    padding-bottom: 0;
  }

  .accomodations .content .hotel-wrapper #airbnb {
    padding-right: 0;
  }

  .accomodations .content .hotel-wrapper .map-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .accomodations .content .hotel-wrapper .map-wrapper #map {
    height: 300px;
  }
}

.wedding-party .hero {
  padding: 25px 0;
  text-align: center;
}

.wedding-party .hero .clipped-title {
  background-image: url(/images/purple-crystals.jpg?d797d78e5e48f1b4941a56a2358355fe);
  background-size: contain;
  color: #845772;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.wedding-party .hero .clipped-title h1 {
  text-align: center;
  -webkit-transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

.wedding-party .content {
  padding-bottom: 25px;
}

.wedding-party .content .list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.wedding-party .content .list-wrapper .column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 20px 0 0 0;
}

.wedding-party .content .list-wrapper .column:first-of-type {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #593358;
}

.wedding-party .content .list-wrapper .column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wedding-party .content .list-wrapper .column ul li {
  padding: 5px 0;
}

.wedding-party .content .list-wrapper .column ul li h3 {
  font-family: "BebasNeue-Bold", sans-serif;
  display: block;
  margin: 0;
}

.wedding-party .content .list-wrapper .column ul li h3 span {
  font-family: "BebasNeue-Light", sans-serif;
}

.wedding-party .content .list-wrapper .column ul li p {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .wedding-party .hero {
    padding: 50px 0;
  }

  .wedding-party .content {
    padding-bottom: 50px;
  }

  .wedding-party .content .list-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }

  .wedding-party .content .list-wrapper .column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    padding: 0 0 0 20px;
  }

  .wedding-party .content .list-wrapper .column:first-of-type {
    padding: 0 20px 0 0;
    border-right: 1px solid #593358;
    border-bottom: 0;
  }
}

@media (min-width: 920px) {
  .wedding-party .content .list-wrapper .column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
}

.placeholder-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 80vh;
  width: 100%;
  background-image: url("/img/placeholder/ocean.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.placeholder-hero h1 {
  padding: 20px;
  text-align: center;
  font-size: 2.5em;
  color: #000000;
}

.placeholder-hero h1.error-code {
  font-size: 6em;
  line-height: 1;
  display: block;
  margin: 0;
  padding: 0;
}

.placeholder-hero h1 img {
  padding-left: 10px;
  height: 35px;
  width: auto;
}

.placeholder-hero h2 {
  font-size: 2.25em;
  color: #91748b;
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 0;
  padding: 20px;
}

.placeholder-hero a {
  font-size: 2em;
  line-height: 1.5;
  color: #ffffff;
  display: block;
  text-align: center;
}

.placeholder-hero a:hover {
  color: #593F68;
}

@media (min-width: 768px) {
  .placeholder-hero h1 {
    font-size: 4.5em;
    padding: 0 50px;
  }

  .placeholder-hero h1.error-code {
    font-size: 10em;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    line-height: 1em;
    margin: 0;
  }

  .placeholder-hero h1 img {
    height: 60px;
    width: auto;
  }

  .placeholder-hero h2 {
    font-size: 4.5em;
    margin: 0;
  }

  .placeholder-hero a {
    font-size: 3.75em;
    margin-top: 100px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

