// Fonts
@font-face {
	font-family: 'BebasNeue-Bold';
	src: url("../../fonts/BebasNeue-Bold.otf");
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'BebasNeue-Light';
	src: url("../../fonts/BebasNeue-Light.otf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'NotoSerif-Bold';
	src: url("../../fonts/NotoSerif-Bold.ttf");
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'NotoSerif-Regular';
	src: url("../../fonts/NotoSerif-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url("../../fonts/Roboto-Light.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url("../../fonts/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}
//@font-face {
//	font-family: 'MellowLine-Regular';
//	src: url("../../fonts/MellowLine-Regular.OTF");
//	//src: url('../../fonts/MellowLine-Regular.TTF') format('truetype');
//	font-weight: normal;
//	font-style: normal;
//	font-display: auto;
//}