// Fonts
@font-face {
	font-family: 'BebasNeue-Bold';
	src: url("../../fonts/BebasNeue-Bold.otf");
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'BebasNeue-Light';
	src: url("../../fonts/BebasNeue-Light.otf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'Trirong-Light';
	src: url("../../fonts/Trirong-Light.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'Trirong-SemiBold';
	src: url("../../fonts/Trirong-SemiBold.ttf");
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url("../../fonts/Roboto-Light.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url("../../fonts/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Parisienne-Regular';
	src: url("../../fonts/Parisienne-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}