footer {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	.footer-wrapper {
		padding: 0 10px 10px;
		max-width: 1024px;
		margin: 0 auto;
		text-align: center;
		hr {
			border: 1px solid $activePurple;
		}
		p {
			font-family: $Roboto-Light;
			margin: 0;
			font-size: .75em;
			a {
				color: $hoverPurple;
				transition: all 0.25s ease-in-out;
				cursor: pointer;
				&:hover,
				&:focus {
					color: $black;
					text-transform: uppercase;
					font-size: 1.15em;
				}
			}
		}
	}
}