
body {
	background-color: $body-bg;
	background: $body-bg;
	cursor: default;
	font-size: 18px;
	line-height: 1.4;
	position: relative;
	min-height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.content-wrapper {
	width: 100%;
	margin-top: 50px;
	padding-bottom: 75px;
	box-sizing: border-box;
	.hero {
		width: 100%;
	}
	.content {
		padding: 20px;
		width: 100%;
		max-width: 1024px;
		box-sizing: border-box;
		margin: 0 auto;
	}
}

h1 {
	font-family: $BebasNeue-Bold;
	font-size: 4.5em;
	line-height: 1.15;
	letter-spacing: -2px;
}

h2 {
	font-family: $BebasNeue-Bold;
	font-size: 2.5em;
	line-height: 1.15;
}

h3 {
	font-family: $BebasNeue-Bold;
	font-size: 1.5em;
	line-height: 1.15;
}

p {
	font-family: $Roboto-Light;
	font-size: 1em;
	line-height: 1.15;
}

@media(min-width: 600px){
	.content-wrapper {
		.content {
			padding: 0 20px;
		}
	}
}