
// Body
$body-bg: #fdfdfd;

// Typography
$BebasNeue-Bold: "BebasNeue-Bold", sans-serif;
$BebasNeue-Light: "BebasNeue-Light", sans-serif;
$Trirong-Light: "Trirong-Light", serif;
$Roboto-Light: "Roboto-Light", sans-serif;
$Roboto-Regular: "Roboto-Regular", sans-serif;

// Colors
$activePurple: #a5849f;
$hoverPurple: #593F68;
$dark-purple: #422e4d;
$med-purple: #845772;
$light-purple: #a192a5;
$gold: #e2bf81;
$white: #ffffff;
$black: #000000;
$grey: #4e5357;
$dark-grey: #2B2B2B;
$light-grey: #cacaca;
